<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.ElevatorRelaOptionsDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bit.module.miniapp.bean.ElevatorRelaOptions" id="elevatorRelaOptionsMap">
        <result property="id" column="id"/>
        <result property="elevatorTypeId" column="elevator_type_id"/>
        <result property="optionId" column="option_id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        elevator_type_id,
        option_id
    </sql>

    <!--根据电梯类型id查询选项-->
    <select id="getOptionsByElevatorTypeId" parameterType="long" resultType="com.bit.module.miniapp.bean.Options">
        SELECT t2.* FROM t_elevator_rela_options t1
        INNER JOIN t_options t2
        on t1.option_id = t2.id
        <where>
            <if test="typeId!=null">
                and t1.elevator_type_id = #{typeId,jdbcType=BIGINT}
            </if>
        </where>

    </select>

    <!-- 根据主键查询数据 -->
    <select id="getElevatorRelaOptionsById" parameterType="Long" resultMap="elevatorRelaOptionsMap">
        select
        <include refid="Base_Column_List"/>
        from t_elevator_rela_options
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 多参数查询数据 -->
    <select id="findByParam" parameterType="com.bit.module.miniapp.bean.ElevatorRelaOptions" resultMap="elevatorRelaOptionsMap">
        select
        <include refid="Base_Column_List"/>
        from t_elevator_rela_options
        <where>
            <if test="elevatorTypeId!=null">
                and elevator_type_id = #{elevatorTypeId,jdbcType=BIGINT}
            </if>
            <if test="optionId!=null">
                and option_id = #{optionId,jdbcType=BIGINT}
            </if>

        </where>
    </select>


    <!-- 新增数据 -->
    <insert id="addElevatorRelaOptions" parameterType="com.bit.module.miniapp.bean.ElevatorRelaOptions" keyProperty="id"
            useGeneratedKeys="true">
        insert into t_elevator_rela_options
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elevatorTypeId!=null">
                elevator_type_id,
            </if>
            <if test="optionId!=null">
                option_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elevatorTypeId!=null">
                #{elevatorTypeId,jdbcType=BIGINT},
            </if>
            <if test="optionId!=null">
                #{optionId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>


    <!-- 编辑数据 -->
    <update id="updateElevatorRelaOptions" parameterType="com.bit.module.miniapp.bean.ElevatorRelaOptions">
        update t_elevator_rela_options
        <trim prefix="set" suffixOverrides=",">
            <if test="elevatorTypeId!=null">
                elevator_type_id =  #{elevatorTypeId,jdbcType=BIGINT},
            </if>
            <if test="optionId!=null">
                option_id =  #{optionId,jdbcType=BIGINT},
            </if>
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!-- 删除数据 -->
    <delete id="delElevatorRelaOptionsById" parameterType="Long">
        delete from t_elevator_rela_options
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 分页查询数据 -->
    <select id="listPage" parameterType="com.bit.module.manager.vo.ElevatorRelaOptionsPageVO" resultType="com.bit.module.manager.vo.ElevatorRelaOptionsVO">
        select
        <include refid="Base_Column_List"/>
        from t_elevator_rela_options
        <where>
            <if test="elevatorTypeId!=null">
                and elevator_type_id = #{elevatorRelaOptionsPageVO.elevatorTypeId,jdbcType=BIGINT},
            </if>
            <if test="optionId!=null">
                and option_id = #{elevatorRelaOptionsPageVO.optionId,jdbcType=BIGINT},
            </if>
        </where>
    </select>


    <insert id="batchAdd" parameterType="com.bit.module.miniapp.bean.ElevatorRelaOptions">
        INSERT INTO t_elevator_rela_options(
        elevator_type_id,
        option_id
        ) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (
            #{item.elevatorTypeId,jdbcType=BIGINT},
            #{item.optionId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="deleteByParam" parameterType="com.bit.module.miniapp.bean.ElevatorRelaOptions">
        DELETE FROM t_elevator_rela_options
        <where>
            <if test="id!=null">
                id = #{id,jdbcType=BIGINT}
            </if>
            <if test="elevatorTypeId!=null">
                elevator_type_id = #{elevatorTypeId,jdbcType=BIGINT}
            </if>
            <if test="optionId!=null">
                option_id = #{optionId,jdbcType=BIGINT}
            </if>
        </where>
    </delete>

</mapper>