<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.ProjectEleOrderDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bit.module.manager.bean.ProjectEleOrder" id="projectEleOrderMap">
        <result property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="elevatorTypeId" column="elevator_type_id"/>
        <result property="elevatorTypeName" column="elevator_type_name"/>
        <result property="num" column="num"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="installPrice" column="install_price"/>
        <result property="transportPrice" column="transport_price"/>
        <result property="singleTotalPrice" column="single_total_price"/>
        <result property="totalPrice" column="total_price"/>
        <result property="versionId" column="version_id"/>
        <result property="rate" column="rate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          id,
          project_id,
          elevator_type_id,
          elevator_type_name,
          num,
          unit_price,
          install_price,
          transport_price,
          single_total_price,
          total_price,
          version_id,
          rate
    </sql>
    <!--批量添加-->
    <insert id="batchInsert" parameterType="com.bit.module.manager.bean.ProjectEleOrder" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_project_ele_order(
        project_id,
        elevator_type_id,
        elevator_type_name,
        num,
        unit_price,
        install_price,
        transport_price,
        single_total_price,
        total_price,
        version_id,
        rate
        ) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (
                #{projectId,jdbcType=BIGINT},
                #{elevatorTypeId,jdbcType=BIGINT},
                #{elevatorTypeName,jdbcType=VARCHAR},
                #{num,jdbcType=INTEGER},
                #{unitPrice,jdbcType=VARCHAR},
                #{installPrice,jdbcType=VARCHAR},
                #{transportPrice,jdbcType=VARCHAR},
                #{singleTotalPrice,jdbcType=VARCHAR},
                #{totalPrice,jdbcType=VARCHAR},
                #{versionId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <!-- 根据主键查询数据 -->
    <select id="getProjectEleOrderById" parameterType="Integer" resultMap="projectEleOrderMap">
        select
        <include refid="Base_Column_List"/>
        from t_project_ele_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 多参数查询数据 -->
    <select id="findByParam" parameterType="com.bit.module.manager.bean.ProjectEleOrder" resultMap="projectEleOrderMap">
        select
        <include refid="Base_Column_List"/>
        from t_project_ele_order
        <where>
            <if test="projectId!=null">
                and project_id = #{projectId,jdbcType=BIGINT}
            </if>
            <if test="elevatorTypeId!=null">
                and elevator_type_id = #{elevatorTypeId,jdbcType=BIGINT}
            </if>
            <if test="elevatorTypeName!=null and elevatorTypeName!=''">
                and elevator_type_name = #{elevatorTypeName,jdbcType=VARCHAR}
            </if>
            <if test="num!=null">
                and num = #{num,jdbcType=INTEGER}
            </if>
            <if test="unitPrice!=null and unitPrice!=''">
                and unit_price = #{unitPrice,jdbcType=VARCHAR}
            </if>
            <if test="installPrice!=null and installPrice!=''">
                and install_price = #{installPrice,jdbcType=VARCHAR}
            </if>
            <if test="transportPrice!=null and transportPrice!=''">
                and transport_price = #{transportPrice,jdbcType=VARCHAR}
            </if>
            <if test="singleTotalPrice!=null and singleTotalPrice!=''">
                and single_total_price = #{singleTotalPrice,jdbcType=VARCHAR}
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                and total_price = #{totalPrice,jdbcType=VARCHAR}
            </if>
            <if test="versionId!=null">
                and version_id = #{versionId,jdbcType=BIGINT}
            </if>

        </where>
    </select>


    <!-- 新增数据 -->
    <insert id="addProjectEleOrder" parameterType="com.bit.module.manager.bean.ProjectEleOrder" keyColumn="id"
            useGeneratedKeys="true">
        insert into t_project_ele_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId!=null">
                project_id,
            </if>
            <if test="elevatorTypeId!=null">
                elevator_type_id,
            </if>
            <if test="elevatorTypeName!=null and elevatorTypeName!=''">
                elevator_type_name,
            </if>
            <if test="num!=null">
                num,
            </if>
            <if test="unitPrice!=null and unitPrice!=''">
                unit_price,
            </if>
            <if test="installPrice!=null and installPrice!=''">
                install_price,
            </if>
            <if test="transportPrice!=null and transportPrice!=''">
                transport_price,
            </if>
            <if test="singleTotalPrice!=null and singleTotalPrice!=''">
                single_total_price,
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                total_price,
            </if>
            <if test="versionId!=null">
                version_id,
            </if>
            <if test="rate!=null">
                rate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId!=null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="elevatorTypeId!=null">
                #{elevatorTypeId,jdbcType=BIGINT},
            </if>
            <if test="elevatorTypeName!=null and elevatorTypeName!=''">
                #{elevatorTypeName,jdbcType=VARCHAR},
            </if>
            <if test="num!=null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="unitPrice!=null and unitPrice!=''">
                #{unitPrice,jdbcType=VARCHAR},
            </if>
            <if test="installPrice!=null and installPrice!=''">
                #{installPrice,jdbcType=VARCHAR},
            </if>
            <if test="transportPrice!=null and transportPrice!=''">
                #{transportPrice,jdbcType=VARCHAR},
            </if>
            <if test="singleTotalPrice!=null and singleTotalPrice!=''">
                #{singleTotalPrice,jdbcType=VARCHAR},
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                #{totalPrice,jdbcType=VARCHAR},
            </if>
            <if test="versionId!=null">
                #{versionId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>



</mapper>