<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.ProjectEleNonstandardDao">

    <!--批量新增-->
    <insert id="batchAdd" parameterType="java.util.List" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO t_project_ele_nonstandard(
        order_id,
        content,
        sys_type,
        signal_price,
        total_price
        ) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (
            #{item.orderId,jdbcType=BIGINT},
            #{item.content,jdbcType=VARCHAR},
            #{item.sysType,jdbcType=INTEGER},
            #{item.signalPrice,jdbcType=VARCHAR},
            #{item.totalPrice,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>