<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.ProjectEleNonstandardDao">

    <!--批量新增-->
    <insert id="batchAdd" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_project_ele_nonstandard(
        order_id,
        content,
        sys_type,
        signal_price,
        total_price
        ) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (
            #{item.orderId,jdbcType=BIGINT},
            #{item.content,jdbcType=VARCHAR},
            #{item.sysType,jdbcType=INTEGER},
            #{item.signalPrice,jdbcType=VARCHAR},
            #{item.totalPrice,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <!--批量编辑数据-->
    <update id="updatebatchNonstandard" parameterType="com.bit.module.manager.vo.ProjectEleNonstandardVO">
        UPDATE t_project_ele_nonstandard
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="signal_price = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.signalPrice!=null and price.signalPrice!=''">
                        WHEN id = #{price.id,jdbcType=BIGINT} then #{price.signalPrice,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="total_price = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.totalPrice!=null and price.totalPrice!=''">
                        WHEN id = #{price.id,jdbcType=BIGINT} then #{price.totalPrice,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="audit_remark = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.auditRemark!=null and price.auditRemark!=''">
                        WHEN id = #{price.id,jdbcType=BIGINT} then #{price.auditRemark,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="production_flag = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.productionFlag!=null">
                        WHEN id = #{price.id,jdbcType=BIGINT} then #{price.productionFlag,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="projectPriceList" item="price" index="index" separator=") or (" close=")" open="(">
                id = #{price.id,jdbcType=BIGINT}
            </foreach>

        </where>
    </update>

    <update id="updateNonstandard" parameterType="com.bit.module.manager.bean.ProjectEleNonstandard">
        UPDATE t_project_ele_nonstandard
        <trim prefix="set" suffixOverrides=",">
            <if test="orderId!=null">
                order_id =  #{orderId,jdbcType=BIGINT},
            </if>
            <if test="content!=null and content!=''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="sysType!=null">
                sys_type = #{sysType,jdbcType=INTEGER},
            </if>
            <if test="signalPrice!=null and signalPrice!=''">
                signal_price =  #{signalPrice,jdbcType=VARCHAR},
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                total_price = #{totalPrice,jdbcType=VARCHAR},
            </if>
            <if test="auditRemark!=null and auditRemark!=''">
                audit_remark = #{auditRemark,jdbcType=VARCHAR},
            </if>
            <if test="productionFlag!=null ">
                production_flag = #{productionFlag,jdbcType=INTEGER},
            </if>
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>