<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.ProjectPriceDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bit.module.manager.bean.ProjectPrice" id="projectPriceMap">
        <result property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="totalPrice" column="total_price"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="version" column="version"/>
        <result property="standard" column="standard"/>
        <result property="standardName" column="standard_name"/>
        <result property="stage" column="stage"/>
        <result property="stageName" column="stage_name"/>
        <result property="installFlag" column="install_flag"/>
        <result property="transportFlag" column="transport_flag"/>
        <result property="nonStandardApplyStatus" column="non_standard_apply_status"/>
        <result property="positiveLock" column="positive_lock"/>
        <result property="enquiryApplyStatus" column="enquiry_apply_status"/>
        <result property="nonRateTotalPrice" column="non_rate_total_price"/>
        <result property="averageRate" column="average_rate"/>
        <result property="maxRate" column="max_rate"/>
        <result property="enquiryAuditUserId" column="enquiry_audit_user_id"/>
        <result property="enquiryAuditUserCompanyId" column="enquiry_audit_user_company_id"/>
        <result property="enquiryApplyTime" column="enquiry_apply_time"/>
        <result property="inquiryPrice" column="inquiry_price"/>
        <result property="costTotalPrice" column="cost_total_price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        project_id,
        total_price,
        create_time,
        create_user_id,
        version,
        standard,
        standard_name,
        stage,
        stage_name,
        install_flag,
        transport_flag,
        non_standard_apply_status,
        positive_lock,
        enquiry_apply_status,
        non_rate_total_price,
        average_rate,
        max_rate,
        enquiry_audit_user_id,
        enquiry_audit_user_company_id,
        enquiry_apply_time,
        inquiry_price,
        cost_total_price
    </sql>

    <!--根据项目id集合批量查询报价记录-->
    <select id="getLatestProjectPrice" resultType="com.bit.module.manager.bean.ProjectPrice" parameterType="map">

        SELECT * FROM t_project_price
        WHERE project_id = #{projectId,jdbcType=BIGINT}
        ORDER BY
        version DESC
        limit 1
    </select>

    <select id="getLatestProjectPriceNonDraft" resultType="com.bit.module.manager.bean.ProjectPrice" parameterType="map">

        SELECT * FROM t_project_price
        WHERE project_id = #{projectId,jdbcType=BIGINT}
        and version > 0
        ORDER BY
        version DESC
        limit 1
    </select>

    <!--根据项目id查询订单-->
    <select id="queryOrderByProjectId" resultType="com.bit.module.manager.vo.ElevatorOrderVo"
            parameterType="com.bit.module.manager.bean.ProjectEleOrder">
        SELECT tor.*, ty.params_key,ty.type,ty.picture from t_project_ele_order tor

        LEFT JOIN t_elevator_type ty ON tor.elevator_type_id=ty.id where
        1=1
        <if test="versionId!=null">
            and tor.version_id=#{versionId,jdbcType=BIGINT}
        </if>
        <if test="projectId!=null">
            and tor.project_id=#{projectId,jdbcType=BIGINT}
        </if>
    </select>
    <!--获取报价的最大版本号-->
    <select id="getMaxVersion" resultType="java.lang.Integer" parameterType="java.lang.Integer">

        SELECT MAX(version) version FROM t_project_price
        <where>
            <if test="projectId!=null">
                AND project_id=#{projectId}

            </if>
        </where>
    </select>

    <select id="getProjectPriceByProjectIdAndOrderId" parameterType="long" resultType="com.bit.module.manager.bean.ProjectPrice">
        SELECT t1.* FROM t_project_price t1
        INNER JOIN t_project_ele_order t2
        on t1.id = t2.version_id
        <where>
            <if test="projectId!=null">
                AND t1.project_id=#{projectId,jdbcType=BIGINT}
            </if>
            <if test="orderId!=null">
                AND t2.id=#{orderId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="getProjectPriceByProjectIdWithVersion" parameterType="long" resultType="com.bit.module.manager.bean.ProjectPrice">
        SELECT * FROM t_project_price
        <where>
            <if test="version!=null">
                AND version=#{version,jdbcType=INTEGER}
            </if>
            <if test="projectId!=null">
                AND project_id=#{projectId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!-- 多参数查询数据 -->
    <select id="findByParam" parameterType="com.bit.module.manager.bean.ProjectPrice" resultMap="projectPriceMap">
        select
        <include refid="Base_Column_List"/>
        from t_project_price
        <where>
            <if test="projectId!=null">
                and project_id = #{projectId,jdbcType=BIGINT}
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                and total_price = #{totalPrice,jdbcType=VARCHAR}
            </if>
            <if test="createTime!=null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createUserId!=null">
                and create_user_id = #{createUserId,jdbcType=BIGINT}
            </if>
            <if test="version!=null">
                and version = #{version,jdbcType=INTEGER}
            </if>
            <if test="standard!=null">
                and standard = #{standard,jdbcType=INTEGER}
            </if>
            <if test="standardName!=null and standardName!=''">
                and standard_name = #{standardName,jdbcType=VARCHAR}
            </if>
            <if test="stage!=null">
                and stage = #{stage,jdbcType=INTEGER}
            </if>
            <if test="stageName!=null and stageName!=''">
                and stage_name = #{stageName,jdbcType=VARCHAR}
            </if>
            <if test="installFlag!=null">
                and install_flag = #{installFlag,jdbcType=INTEGER}
            </if>
            <if test="transportFlag!=null">
                and transport_flag = #{transportFlag,jdbcType=INTEGER}
            </if>
            <if test="nonStandardApplyStatus!=null">
                and non_standard_apply_status = #{nonStandardApplyStatus,jdbcType=INTEGER}
            </if>
            <if test="enquiryApplyStatus!=null">
                and enquiry_apply_status = #{enquiryApplyStatus,jdbcType=INTEGER}
            </if>
            <if test="nonRateTotalPrice!=null and nonRateTotalPrice!=''">
                and non_rate_total_price = #{nonRateTotalPrice,jdbcType=VARCHAR}
            </if>
            <if test="enquiryAuditUserId!=null">
                and enquiry_audit_user_id = #{enquiryAuditUserId,jdbcType=BIGINT}
            </if>
            <if test="enquiryAuditUserCompanyId!=null">
                and enquiry_audit_user_company_id = #{enquiryAuditUserCompanyId,jdbcType=BIGINT}
            </if>
            <if test="enquiryApplyTime!=null">
                and enquiry_apply_time = #{enquiryApplyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="inquiryPrice!=null and inquiryPrice!=''">
                and inquiry_price = #{inquiryPrice,jdbcType=VARCHAR}
            </if>
            <if test="costTotalPrice!=null and costTotalPrice!=''">
                and cost_total_price = #{costTotalPrice,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 根据主键查询数据 -->
    <select id="getProjectPriceById" parameterType="long" resultMap="projectPriceMap">
        select
        <include refid="Base_Column_List"/>
        from t_project_price
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 编辑数据 -->
    <update id="updateProjectPrice" parameterType="com.bit.module.manager.bean.ProjectPrice">
        update t_project_price
        <trim prefix="set" suffixOverrides=",">
            <if test="projectId!=null">
                project_id =  #{projectId,jdbcType=BIGINT},
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                total_price = #{totalPrice,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId!=null">
                create_user_id =  #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="version!=null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="standard!=null">
                standard = #{standard,jdbcType=INTEGER},
            </if>
            <if test="standardName!=null and standardName!=''">
                standard_name = #{standardName,jdbcType=VARCHAR},
            </if>
            <if test="stage!=null">
                stage = #{stage,jdbcType=INTEGER},
            </if>
            <if test="stageName!=null and stageName!=''">
                stage_name = #{stageName,jdbcType=VARCHAR},
            </if>
            <if test="installFlag!=null">
                install_flag = #{installFlag,jdbcType=INTEGER},
            </if>
            <if test="transportFlag!=null">
                transport_flag = #{transportFlag,jdbcType=INTEGER},
            </if>
            <if test="nonStandardApplyStatus!=null">
                non_standard_apply_status = #{nonStandardApplyStatus,jdbcType=INTEGER},
            </if>
            <if test="positiveLock!=null">
                positive_lock = #{positiveLock,jdbcType=INTEGER} + 1,
            </if>
            <if test="enquiryApplyStatus!=null">
                enquiry_apply_status = #{enquiryApplyStatus,jdbcType=INTEGER},
            </if>
            <if test="nonRateTotalPrice!=null and nonRateTotalPrice!=''">
                non_rate_total_price = #{nonRateTotalPrice,jdbcType=VARCHAR},
            </if>
            <if test="enquiryAuditUserId!=null">
                enquiry_audit_user_id =  #{enquiryAuditUserId,jdbcType=BIGINT},
            </if>
            <if test="enquiryAuditUserCompanyId!=null">
                enquiry_audit_user_company_id =  #{enquiryAuditUserCompanyId,jdbcType=BIGINT},
            </if>
            <if test="enquiryApplyTime!=null">
                enquiry_apply_time = #{enquiryApplyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inquiryPrice!=null and inquiryPrice!=''">
                inquiry_price = #{inquiryPrice,jdbcType=VARCHAR},
            </if>
            <if test="costTotalPrice!=null and costTotalPrice!=''">
                cost_total_price = #{costTotalPrice,jdbcType=VARCHAR},
            </if>
        </trim>
        <where>
            <if test="id!=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="positiveLock!=null">
                and positive_lock = #{positiveLock,jdbcType=INTEGER}
            </if>
        </where>
    </update>


    <update id="updateProjectPriceEnquireAuditWithNull" parameterType="com.bit.module.manager.bean.ProjectPrice">
        update t_project_price
        <trim prefix="set" suffixOverrides=",">
            <if test="enquiryApplyStatus!=null">
                enquiry_apply_status = #{enquiryApplyStatus,jdbcType=INTEGER},
            </if>

            <if test="enquiryAuditUserId!=null">
                enquiry_audit_user_id = #{enquiryAuditUserId,jdbcType=BIGINT},
            </if>
            <if test="enquiryAuditUserId==null">
                enquiry_audit_user_id = null,
            </if>
            <if test="enquiryAuditUserCompanyId!=null">
                enquiry_audit_user_company_id = #{enquiryAuditUserCompanyId,jdbcType=BIGINT},
            </if>
            <if test="enquiryAuditUserCompanyId==null">
                enquiry_audit_user_company_id = null,
            </if>
        </trim>
        <where>
            <if test="id!=null">
                and id = #{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <!--批量编辑数据-->
    <update id="updatebatchProjectPrice" parameterType="com.bit.module.manager.vo.ProjectEleNonstandardVO">
        UPDATE t_project_price
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="non_standard_apply_status = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.nonStandardApplyStatus!=null">
                        WHEN id = #{price.priceId,jdbcType=BIGINT} then #{price.nonStandardApplyStatus,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="positive_lock = case" suffix="end,">
                <foreach collection="projectPriceList" item="price" index="index" >
                    <if test="price.positiveLock!=null">
                        WHEN id = #{price.priceId,jdbcType=BIGINT} then #{price.positiveLock,jdbcType=INTEGER} + 1
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="projectPriceList" item="price" index="index" separator=") or (" close=")" open="(">
                id = #{price.priceId,jdbcType=BIGINT} and positive_lock = #{price.positiveLock,jdbcType=INTEGER}
            </foreach>

        </where>
    </update>


    <!--分页查询-->
    <select id="listPage" parameterType="com.bit.module.manager.vo.ProjectPageVO" resultType="com.bit.module.manager.vo.ProjectShowVO">
        SELECT t2.project_name,
        t2.id as projectId,
        t2.customer_name,
        t2.agent_name,
        t2.address_name,
        t2.create_user_name,
        t1.non_standard_apply_status,
        t1.id as projectPriceId,
        t1.enquiry_audit_user_id,
        t1.enquiry_audit_user_company_id,
        t1.enquiry_apply_time,
        t1.standard,
        t1.standard_name,
        t3.mobile,
        t3.real_name
        FROM t_project_price t1
        INNER JOIN t_project t2
        on t1.project_id = t2.id
        INNER JOIN t_user t3
        on t2.create_user_id = t3.id
        <where>
          <!--  <![CDATA[
            and t1.non_standard_apply_status > 1 ]]>-->
            <if test="projectPageVO.customerName!=null and projectPageVO.customerName!=''">
                and t2.customer_name LIKE concat("%",#{projectPageVO.customerName,jdbcType=VARCHAR},"%")
            </if>
            <if test="projectPageVO.agentName!=null and projectPageVO.agentName!=''">
                and t2.agent_name LIKE concat("%",#{projectPageVO.agentName,jdbcType=VARCHAR},"%")
            </if>
            <if test="projectPageVO.createUserId!=null">
                and t2.create_user_id = #{projectPageVO.createUserId,jdbcType=BIGINT}
            </if>
            <if test="projectPageVO.createUserName!=null and projectPageVO.createUserName!=''">
                and t2.create_user_name = concat("%", #{projectPageVO.createUserName,jdbcType=VARCHAR} ,"%")
            </if>
            <if test="projectPageVO.createTime!=null">
                and t2.create_time = #{projectPageVO.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="projectPageVO.enquiryApplyStatus!=null">
                and t1.enquiry_apply_status = #{projectPageVO.enquiryApplyStatus,jdbcType=INTEGER}
            </if>
            <if test="projectPageVO.realName!=null and projectPageVO.realName!=''">
                and t3.real_name like concat("%", #{projectPageVO.realName,jdbcType=VARCHAR} ,"%")
            </if>
            <if test="projectPageVO.enquiryAuditUserId!=null">
                and t1.enquiry_audit_user_id = #{projectPageVO.enquiryAuditUserId,jdbcType=BIGINT}
            </if>
            <if test="projectPageVO.enquiryAuditUserCompanyId!=null">
                and t1.enquiry_audit_user_company_id = #{projectPageVO.enquiryAuditUserCompanyId,jdbcType=BIGINT}
            </if>
            <if test="projectPageVO.nonStandardApplyStatusList!=null">

                and  t1.non_standard_apply_status in
                <foreach collection="array" item="item" index="index"
                         open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="projectPageVO.nonStandardApplyStatus!=null">
                and  t1.non_standard_apply_status = #{projectPageVO.nonStandardApplyStatus}
            </if>
        </where>
        order by t1.create_time desc
    </select>


    <select id="batchSelectByIds" parameterType="long" resultType="com.bit.module.manager.bean.ProjectPrice">
        SELECT <include refid="Base_Column_List"/>
        FROM t_project_price
        WHERE id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>


</mapper>