<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.QueryParamsDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bit.module.miniapp.bean.QueryParams" id="queryParamsMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="key" column="key"/>
        <result property="value" column="value"/>
        <result property="category" column="category"/>
        <result property="level" column="level"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id,
                title,
                `key`,
                `value`,
                category,
                `level`
    </sql>


    <!-- 多参数查询数据 -->
    <select id="findByParam" parameterType="com.bit.module.miniapp.bean.QueryParams" resultMap="queryParamsMap">
        select
        <include refid="Base_Column_List"/>
        from t_query_params
        <where>
            <if test="title!=null and title!=''">
                and title = #{title,jdbcType=VARCHAR}
            </if>
            <if test="key!=null and key!=''">
                and `key` = #{key,jdbcType=VARCHAR}
            </if>
            <if test="value!=null and value!=''">
                and `value` = #{value,jdbcType=VARCHAR}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <if test="level!=null">
                and `level` = #{level,jdbcType=INTEGER}
            </if>
        </where>
        order by id
    </select>

    <!--查询电梯参数-->
    <select id="getEleParam" parameterType="com.bit.module.miniapp.bean.QueryParams" resultMap="queryParamsMap">
        select
        <include refid="Base_Column_List"/>
        from t_query_params
        <where>
            <if test="key!=null and key!=''">
                AND `value` = #{key,jdbcType=VARCHAR}
            </if>
            <if test="level!=null">
                and `level` = #{level,jdbcType=INTEGER}
            </if>
            <if test="id!=null and id!=''">
                and id like concat(#{id,jdbcType=VARCHAR},"%")
            </if>
        </where>
    </select>

    <!--查询电梯参数-->
    <select id="getDetailParam" parameterType="com.bit.module.miniapp.bean.QueryParams" resultMap="queryParamsMap">
        select
        <include refid="Base_Column_List"/>
        from t_query_params
        <where>
            <if test="keys!=null and keys.size()>0">
                AND `key` IN
                <foreach collection="keys" item="key" open="(" close=")" separator=",">
                    #{key,jdbcType=VARCHAR}
                </foreach>

            </if>
            and id like concat(

            (select id
            from t_query_params
            <where>
                <if test="value!=null and value!=''">
                    AND `value` = #{value,jdbcType=VARCHAR}
                </if>
            </where>
            )


            ,"%")
        </where>
    </select>

    <!-- 根据主键查询数据 -->
    <select id="getQueryParamsById" parameterType="string" resultMap="queryParamsMap">
        select
        <include refid="Base_Column_List"/>
        from t_query_params
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 新增数据 -->
    <insert id="addQueryParams" parameterType="com.bit.module.miniapp.bean.QueryParams" keyColumn="id"
            useGeneratedKeys="true">
        insert into t_query_params
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="title!=null and title!=''">
                title,
            </if>
            <if test="key!=null and key!=''">
                `key`,
            </if>
            <if test="value!=null and value!=''">
                `value`,
            </if>
            <if test="category!=null and category!=''">
                category,
            </if>
            <if test="level!=null">
                `level`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title!=null and title!=''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="key!=null and key!=''">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value!=null and value!=''">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="category!=null and category!=''">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="level!=null">
                #{level,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <!-- 编辑数据 -->
    <update id="updateQueryParams" parameterType="com.bit.module.miniapp.bean.QueryParams">
        update t_query_params
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null and title!=''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="key!=null and key!=''">
                `key` = #{key,jdbcType=VARCHAR},
            </if>
            <if test="value!=null and value!=''">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test="category!=null and category!=''">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="level!=null">
                `level` = #{level,jdbcType=INTEGER},
            </if>
        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <!-- 删除数据 -->
    <delete id="delQueryParamsById" parameterType="string">
        delete from t_query_params
        where id = #{id,jdbcType=VARCHAR}
    </delete>


    <!-- 分页查询数据 -->
    <select id="listPage" parameterType="com.bit.module.manager.vo.QueryParamsPageVO" resultType="com.bit.module.manager.vo.QueryParamsVO">
        select
        <include refid="Base_Column_List"/>
        from t_query_params
        <where>
            <if test="queryParamsPageVO.title!=null and queryParamsPageVO.title!=''">
                and title LIKE concat("%",#{queryParamsPageVO.title,jdbcType=VARCHAR},"%")
            </if>
            <if test="queryParamsPageVO.key!=null and queryParamsPageVO.key!=''">
                and `key` = #{queryParamsPageVO.key,jdbcType=VARCHAR}
            </if>
            <if test="queryParamsPageVO.value!=null and queryParamsPageVO.value!=''">
                and `value` = #{queryParamsPageVO.value,jdbcType=VARCHAR}
            </if>
            <if test="queryParamsPageVO.category!=null and queryParamsPageVO.category!=''">
                and category = #{queryParamsPageVO.category,jdbcType=VARCHAR}
            </if>
            <if test="queryParamsPageVO.level!=null">
                and `level` = #{queryParamsPageVO.level,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--批量删除-->
    <delete id="deleteByIds" parameterType="string">
        DELETE FROM t_query_params
        WHERE id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!--不同的key-->
    <select id="distinctKey" resultType="string">
        SELECT DISTINCT `KEY` FROM `t_query_params`
    </select>
</mapper>