<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.module.manager.dao.UserFeedbackDao">

    <!-- 可根据自己的需求，是否要使用 -->


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         id,
         content,
         create_user_id,
         create_real_name,
         create_time
    </sql>

    <!--电梯类型列表查询-->
    <select id="listPage" parameterType="com.bit.module.manager.vo.UserFeedbackPageVO" resultType="com.bit.module.manager.bean.UserFeedback">
        SELECT <include refid="Base_Column_List"/>
        FROM t_user_feedback
        <where>
            <if test="userFeedbackPageVO.createRealName!=null and userFeedbackPageVO.createRealName!=''">
                and create_real_name like  concat(#{userFeedbackPageVO.createRealName,jdbcType=VARCHAR} ,"%")
            </if>
            <if test="userFeedbackPageVO.beginTime!=null  ">
               <!-- <![CDATA[  and create_time  > = #{userFeedbackPageVO.beginTime,jdbcType=TIMESTAMP} ]]>-->
                <![CDATA[  and create_time >= DATE_FORMAT( #{userFeedbackPageVO.beginTime}, '%Y-%m-%d %T') ]]>
            </if>
           <if test="userFeedbackPageVO.endTime!=null ">
                  <![CDATA[   and create_time  <=  DATE_FORMAT( #{userFeedbackPageVO.endTime} , '%Y-%m-%d %T')  ]]>
           </if>
        </where>
        order by create_time desc
    </select>

</mapper>